{% extends 'base.html' %}
{%block conteudo %}
{% include 'parciais/_sidebar.html' %}
<div class="container">
    <h1 class="display-4">Venda</h1>
    <a href="{% url 'clientes'%}"> Cliente e/ou falecidos não disponíveis? Faça o cadastro</a>
    <div class="row">
    <form method='POST' class="col-7">
        {% csrf_token %}
        <div class="form-group mb-3 mt-3">
            <label for="forma-pag">Forma de pagamento</label>
            <select class="form-control mb-3" id="forma-pag">
                <option name='CC' value="CC" class="form-control col-2">Crédito</option>
                <option name='CD' value="CD" class="form-control col-2">Débito</option>
                <option name='D' value="D" class="form-control col-2">Dinheiro</option>
                <option name='T' value="T" class="form-control col-2">Transferência (Entre contas / PIX)</option>
            </select>
        </div>

        <div class="form-group mb-3 mt-3">
            <label for="forma-pag">Cliente</label>
            <select class="form-control mb-3" id="forma-pag">
                {% for i in clientes%}
                <option name='cliente' value="{{ i.id }}" class="form-control col-2">{{ i.nome }} {{ i.sobrenome }} - {{ i.cpf }}</option>
                {%endfor%}
            </select>
        </div>

        <div class="form-group mb-3 mt-3">
            <label for="forma-pag">Falecido</label>
            <select class="form-control mb-3" id="forma-pag">
                {% for i in falecidos%}
                <option name='falecido' value="{{ i.id }}" class="form-control col-2">{{ i.nome }} {{ i.sobrenome }} - {{ i.cpf }}</option>
                {%endfor%}
            </select>
        </div>

        <label>Serviços prestados</label>
        <div class="form-group mb-3 mt-3">
            {% for i in servicos %}
            <input class="form-check-input" type="checkbox" value="{{ i.id }}">
            <label class="form-check-label" for="defaultCheck1">
                {{ i.nome }} - R$ {{ i.preco }}
            </label><br>
            {%endfor%}
        </div>

        <div class="d-grid gap-1">
            <input type="submit" value="Finalizar Venda" id="enviar" class="btn btn-primar myprimary btn-block btn-lg"></input>
        </div>
    </form>
</div>

{%endblock%}